<div class="card h-100 shadow-sm" id="<%= dom_id collection %>">
  <div>
    <% if collection.image.attached? %>
      <%= image_tag collection.image, alt: "image_#{collection.image.id}", class: "img-fluid img-thumbnail" %>
    <% end %>
  </div>

  <div class="card-header">
    <%= link_to collection.division, collection_path(collection), class: "link_to" %>
  </div>
  <div class="card-body">
    <p class="card-text">
      <strong>Description: </strong> <%= collection.description %> <br>
    </p>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Division page url: <%= link_to (collection.division + " Info Page"), collection.division_page_url, class: "text-dark text-decoration-none h6" %>
      </li>

      <li class="list-group-item">
        Link to policies: <%= link_to (collection.division + " Policy Page"), collection.link_to_policies, class: "text-dark text-decoration-none h6" %>
      </li>
    </ul>
  </div>
</div>
