<div id="<%= dom_id collection %>">

  </div>
    <% if collection.image.attached? %>
      <%= image_tag collection.image, alt: "image_#{collection.image.id}", class: "img-fluid img-thumbnail", style: "max-width: 30%" %>
    <% end %>
  </div>

  <div>
    <h5 class="card-title fw-bold"> <%= collection.division %> </h5>
    <p class="card-text">
      <strong>Admin Group: </strong> <%= collection.admin_group %> <br>
      <strong>Description: </strong> <%= collection.description %> <br>
    </p>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <strong>Division page url:</strong>
      <%= collection.division_page_url %>
    </li>

    <li class="list-group-item">
      <strong>Link to policies:</strong>
      <%= collection.link_to_policies %>
    </li>
  </ul>
</div>
