<div id="<%= dom_id collection %>">
  <p>
    <strong>Division:</strong>
    <%= collection.division %>
  </p>

  <p>
    <strong>Admin group:</strong>
    <%= collection.admin_group %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= collection.description %>
  </p>

  <p>
    <strong>Division page url:</strong>
    <%= collection.division_page_url %>
  </p>

  <p>
    <strong>Link to policies:</strong>
    <%= collection.link_to_policies %>
  </p>

</div>
