<div id="spinner" style="position:fixed;top:50%;left:50%;display:none;">
      <%= image_tag '12_segments.gif', alt: 'Loading' %>
    </div>
<div class="d-flex flex-column flex-sm-row flex-wrap gap-2">
  <h3 class="me-5">Import Items</h3>
  <%= form_tag import_collections_path, 
              method: :post, 
              multipart: true, 
              data: { turbo: false }, 
              onsubmit: "return showImportStart()" do %>
    <%= label_tag 'files_', 'Choose CSV files to import:', class: 'visually-hidden' %>
    <%= file_field_tag 'files[]', accept: ".csv", multiple: true %>
    <%= hidden_field_tag :collection_id, @collection.id %>
    <%= button_tag type: 'submit', class: 'btn btn-primary my-2 m-lg-0' do %>
      Import <i class="bi bi-box-arrow-in-down"></i>
    <% end %>
  <% end %>
</div>
<p>To import items into this collection, please upload two CSV files in the following order:</p>
<ul>
  <li><strong>First file:</strong> Occurrence data</li>
  <li><strong>Second file:</strong> Identification data</li>
</ul>

<script>
  function showImportStart() {
    
    const alerts = document.querySelectorAll('.alert');
    alerts.forEach(alert => {
      alert.remove();
    });

    const container = document.createElement('div');
    container.className = 'position-fixed end-0 px-3 py-6';
    container.style.top = '80px';
    container.style.zIndex = '1050';

    const alertDiv = document.createElement('div');
    alertDiv.className = 'alert alert-info alert-dismissible fade show shadow-lg';
    alertDiv.style.minWidth = '300px';
    alertDiv.setAttribute('role', 'alert');

    alertDiv.innerHTML = `
      Import initiated. Please wait without refreshing the page.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    `;
    document.getElementById('spinner').style.display = 'block';

    container.appendChild(alertDiv);
    document.body.prepend(container);
  }
</script>
