<div class="container my-5">
    <%= form_with url: collection_path(@collection), method: :get, turbo: true,
      data: { controller: "autosubmit",
              autosubmit_target: "form",
              turbo_frame: "all_items"
              } do %>
      <label for="per">Items per page:</label>
        <%= select_tag :per, options_for_select([25, 50, 100, 150, 200], params[:per]), "data-action": "autosubmit#submit" %>
      <%= page_entries_info @items %>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mb-4">
        <% @items.each do |item| %>
          <div class="col mb-5">
            <%= link_to "Add To Checkout",
                      add_item_to_checkout_path(item),
                      data: {
                        turbo_frame: "modal_content_frame",
                        bs_toggle: "modal",
                        bs_target: "#addItemToCheckoutModal"
                      },
                      class: "btn btn-sm btn-outline-primary" %>
            <%= render partial: "item_card", locals: { item: item } %>
          </div>
        <% end %>
      </div>
      <%= paginate @items %>
    <% end %>
</div>

<%= render "layouts/remote_modal",
            id: "addItemToCheckoutModal",
            title: "Add Preparation to Checkout" %>
            