<div class="card h-100 shadow-sm" id="<%= dom_id item %>">
  <div class="card-header">
    <%= link_to item.display_name, item_path(item), class: "link_to", data: { turbo_frame: "_top" }  %>
  </div>
  <div class="card-body">
    <p>
      <%= item.state_province %>
    </p>
    <p>
      <%= item.county %>
    </p>
    <p>
      <%= item.coordinates %>
    </p>
    <div class="card-text">
      <p class="fw-bold">Preparations</p>
      <ul>
        <% item.preparations.each do |preparation| %>
          <li>
            <%= preparation.display_name %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "Checkout", add_item_to_checkout_path(item), class: "btn btn-sm btn-primary", data: { turbo_frame: "remote_modal" } %>
  </div>
</div>
