<div class="card h-100 shadow-sm" id="<%= dom_id item %>">
  <div class="card-header">
    <%= link_to item.name, item_path(item), class: "link_to fw-bold", data: { turbo_frame: "_top" } %>
    <p class="fw-normal lh-sm"><%= item.country %>
    <br><%= item.event_date_start %></p>
  </div>
  <div class="card-body">
    <p class="fw-normal lh-sm"><%= show_state_province_county(item) %></p>
    <p>
      <%= item.coordinates %>
    </p>
    <table class="table table-sm">
      <thead class="">
        <tr>
          <th scope="col" class="text-start">Preparation Type</th>
          <th scope="col" class="text-end">Add to Checkout</th>
        </tr>
      </thead>
      <tbody class="">
        <% item.preparations.each do |preparation| %>
          <tr>
            <td class="text-start"><%= preparation.display_name %></td>
            <td class="text-end align-middle" style="width: 1%; white-space: nowrap;">
              <div class="d-flex justify-content-end align-items-center position-relative">
                <%= form_with url: checkout_add_path, 
                  data: { controller: "autosubmit",
                    autosubmit_target: "form",
                    turbo_frame: "checkout"
                    } do |form| %>
                  <%= form.hidden_field :id, value: preparation.id %>
                  <div class="position-relative" style="display: inline-block;">
                    <%= form.select :count, options_for_select(0..show_count(preparation, @max_number_of_preparations), @checkout.requestables.exists?(preparation_id: preparation.id) ? @checkout.requestables.find_by(preparation_id: preparation.id).count : nil), { }, { class: "form-control pe-4 checkout-select", "data-action": "change->autosubmit#submit" } %>
                    <span class="position-absolute top-50 end-0 translate-middle-y pe-2" style="pointer-events: none;">
                      <i class="bi bi-caret-down-fill"></i>
                    </span>
                  </div>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= link_to "Checkout", add_item_to_checkout_path(item), class: "btn btn-sm btn-primary", data: { turbo_frame: "remote_modal" } %>
  </div>
</div>
