<div class="card h-100 shadow-sm" id="<%= dom_id item %>">
  <div class="card-header">
    <%= link_to item.display_name, item_path(item), class: "link_to", data: { turbo_frame: "_top" }  %>
  </div>
  <div class="card-body">
    <p>
      <%= item.state_province %>
    </p>
    <p>
      <%= item.county %>
    </p>
    <p>
      <%= item.coordinates %>
    </p>
    <div class="card-text">
      <p class="fw-bold">Preparations</p>
      <ul class="list-unstyled">
        <% item.preparations.each do |preparation| %>
          <li class="d-flex justify-content-between align-items-center">
            <%= preparation.display_name %>
            <%= form_with url: checkout_add_path, 
              data: { controller: "autosubmit",
                autosubmit_target: "form",
                turbo_frame: "checkout"
                } do |form| %>
              <%= form.hidden_field :id, value: preparation.id %>
              <%= form.select :count, options_for_select(0..show_count(preparation, @max_number_of_preparations), nil), { }, { class: "form-control input-sm w-auto", "data-action": "change->autosubmit#submit" } %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "Checkout", add_item_to_checkout_path(item), class: "btn btn-sm btn-primary", data: { turbo_frame: "remote_modal" } %>
  </div>
</div>
