
<%= render @collection %>

<% if is_admin? %>
  <br>
  <div>
    <%= render 'import' %>
  </div>
<% end %>

<br>
<div id="collection_items">
  <h2>Items in this Collection</h2>
    <% if @items.empty? %>
      No items available in this collection.
    <% else %>
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <% @items.each_with_index do |item, index| %>
          <div class="accordion-item mb-2">
            <button class="accordion-button collapsed bg-accordion"" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%= (index + 1) %>" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
              Item ID: <%= item.id %>, Occurrence ID: <%= item.occurrence_id %>
            </button>
            <div id="panelsStayOpen-collapse<%= (index + 1) %>" class="accordion-collapse collapse">
              <div class="accordion-body">  
                  <fieldset>
                    <legend style="display: none;">Tabs to display item information</legend>

                    <div>
                      <table class="table text-center">
                        <tbody class="table-group-divider">

                          <%if item.catalog_number.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Item Catalog Number
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.catalog_number %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.modified.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Date Modified
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.modified %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.recorded_by.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Recorded By
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.recorded_by %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.individual_count.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Individual Count
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.individual_count %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.sex.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Sex
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.sex %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.life_stage.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Life Stage
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.life_stage %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.reproductive_condition.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Reproductive Condition
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.reproductive_condition %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.vitality.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Vitality
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.vitality %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.other_catalog_numbers.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Other Catalog Numbers
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.other_catalog_numbers %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.occurrence_remarks.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Occurrence Remarks
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.occurrence_remarks %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.organism_remarks.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Organism Remarks
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.organism_remarks %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.associated_sequences.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Associated Sequences
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.associated_sequences %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.field_number.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Field Number
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.field_number %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.event_date_start.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Event Date Start
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.event_date_start %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.event_date_end.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Event Date End
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.event_date_end %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.verbatim_event_date.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Verbatim Event Date
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.verbatim_event_date %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.sampling_protocol.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Sampling Protocol
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.sampling_protocol %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.event_remarks.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Event Remarks
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.event_remarks %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.continent.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Continent
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.continent %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.country.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Country
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.country %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.state_province.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                State Province
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.state_province %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.county.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                County
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.county %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.locality.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Locality
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.locality %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.verbatim_locality.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Verbatim Locality
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.verbatim_locality %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.verbatim_elevation.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Verbatim Elevation
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.verbatim_elevation %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.minimum_elevation_in_meters.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Minimum Elevation in Meters
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.minimum_elevation_in_meters %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.maximum_elevation_in_meters.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Maximum Elevation in Meters
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.maximum_elevation_in_meters %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.decimal_latitude.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Decimal Latitude
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.decimal_latitude %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.decimal_longitude.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Decimal Longitude
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.decimal_longitude %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.coordinate_uncertainty_in_meters.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Coordinate Uncertainty in Meters
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.coordinate_uncertainty_in_meters %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.verbatim_coordinates.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Verbatim Coordinates
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.verbatim_coordinates %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.georeferenced_by.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Georeferenced By
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.georeferenced_by %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.georeferenced_date.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Georeferenced Date
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.georeferenced_date %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.geodetic_datum.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Geodetic Datum
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.geodetic_datum %>
                              </td>
                            </tr>
                          <%end%>

                          <%if item.georeference_protocol.present?%>
                            <tr class="rover_tbody_tr">
                              <td class="rover_tbody_td">
                                Georeference Protocol
                              </td>
                              <td class="rover_tbody_td">
                                <%= item.georeference_protocol %>
                              </td>
                            </tr>
                          <%end%>
                        </tbody>
                      </table>
                    </div>
                  </fieldset>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= paginate @items %>
    <% end %>
  </div>