<div class="py-3">
  <%= render @collection %>
</div>

<div class="shadow-sm rounded p-4">
  <h3 class="fw-bold">Collection Items</h2>
  <%= search_form_for @q1, url: search_collection_path(@collection), turbo: true, data: { turbo_frame: "all_items" }, method: :post, as: :q1 do |f| %>
    <div class="rounded-3 shadow-sm search-bar-container">
      <div class="mb-2">
        <%= f.label :country_case_insensitive_or_state_province_case_insensitive_or_identifications_scientific_name_or_identifications_vernacular_name_cont,
                    "Search Items in Collection", class: "visually-hidden" %>

        <div class="input-group input-group-sm">
          <%= f.search_field :country_case_insensitive_or_state_province_case_insensitive_or_identifications_scientific_name_or_identifications_vernacular_name_cont,
                            placeholder: "Search by Country, State, Province, Scientific or Vernacular Name",
                            class: "form-control small-search-input",
                            aria: { label: "Search" } %>

          <button class="search-icon-button" type="submit">
            <i class="bi bi-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <% end %>
  <div class="mb-4">
    <%= turbo_frame_tag "all_items" do %>
      <% if @items.empty? %>
        No items available in this collection.
      <% else %>
        <%= render partial: "items" %>
      <% end %>
    <% end %>
  </div>
</div>
<br>
