
<%= render @collection %>

<% if is_super_admin? %>
  <%= link_to "Add Collection-Specific Loan Question", 
              new_collection_collection_question_path(@collection),
              class: "btn btn-success mb-3" %>
<% end %>

<% if @collection_questions.present? %>
  <div class="mt-4">
    <h2>Collection-Specific Questions</h2>
    <%= render partial: 'collection_questions_list', locals: { collection_questions: @collection_questions } %>
  </div>
<% end %>

<div>
  <%= render 'import' if policy(@collection).import? %>
</div>

<br>
<div>
  <h2>Items in this Collection</h2>
  <%= search_form_for @q1, url: search_collection_path(@collection), turbo_frame: "collection_items", method: :post, as: :q1 do |f| %>
    <div class="mb-2">
      <%= f.label :country_or_state_province_or_identifications_scientific_name_or_identifications_vernacular_name_cont, "Search Items in Collection" %>
      <%= f.search_field :country_or_state_province_or_identifications_scientific_name_or_identifications_vernacular_name_cont, placeholder: 'Country, State, Province, or Scientific Name or Vernacular Name', class: "form-control form-control-sm" %>
    </div>
    <div>
      <%# = f.label :catalog_number_eq, "Catalog Number" %>
      <%#= f.search_field :catalog_number_eq %>
    </div>
    <div>
      <%= f.submit "Search" %>
    </div>
  <% end %>

  <%= turbo_frame_tag "collection_items" do %>
    <% if @items.empty? %>
      No items available in this collection.
    <% else %>
      <div class="mt-2 ml-4">
        <%= page_entries_info @items %>
      </div>
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <% @items.each_with_index do |item, index| %>
          <div class="accordion-item mb-2">
            <button class="accordion-button collapsed bg-accordion"" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%= (index + 1) %>" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
              <%= item.display_name %>
            </button>
            <div id="panelsStayOpen-collapse<%= (index + 1) %>" class="accordion-collapse collapse">
              <div class="accordion-body">  
                  <fieldset>
                    <legend style="display: none;">Tabs to display item information</legend>

                    <div>
                      <%= link_to item_path(item), class: "btn btn-primary my-2", data: { turbo_frame: "_top" } do %>
                        Item Details Page 
                      <% end %>
                      <table class="table text-center">
                        <tbody class="table-group-divider">
                          <% display_fields = {
                            "Item Catalog Number" => item.catalog_number,
                            "Date Modified" => item.modified,
                            "Recorded By" => item.recorded_by,
                            "Individual Count" => item.individual_count,
                            "Sex" => item.sex,
                            "Life Stage" => item.life_stage,
                            "Reproductive Condition" => item.reproductive_condition,
                            "Vitality" => item.vitality,
                            "Other Catalog Numbers" => item.other_catalog_numbers,
                            "Occurrence Remarks" => item.occurrence_remarks,
                            "Organism Remarks" => item.organism_remarks,
                            "Associated Sequences" => item.associated_sequences,
                            "Field Number" => item.field_number,
                            "Event Date Start" => item.event_date_start,
                            "Event Date End" => item.event_date_end,
                            "Verbatim Event Date" => item.verbatim_event_date,
                            "Sampling Protocol" => item.sampling_protocol,
                            "Event Remarks" => item.event_remarks,
                            "Continent" => item.continent,
                            "Country" => item.country,
                            "State Province" => item.state_province,
                            "County" => item.county,
                            "Locality" => item.locality,
                            "Verbatim Locality" => item.verbatim_locality,
                            "Verbatim Elevation" => item.verbatim_elevation,
                            "Minimum Elevation in Meters" => item.minimum_elevation_in_meters,
                            "Maximum Elevation in Meters" => item.maximum_elevation_in_meters,
                            "Decimal Latitude" => item.decimal_latitude,
                            "Decimal Longitude" => item.decimal_longitude,
                            "Coordinate Uncertainty in Meters" => item.coordinate_uncertainty_in_meters,
                            "Verbatim Coordinates" => item.verbatim_coordinates,
                            "Georeferenced By" => item.georeferenced_by,
                            "Georeferenced Date" => item.georeferenced_date,
                            "Geodetic Datum" => item.geodetic_datum,
                            "Georeference Protocol" => item.georeference_protocol
                          } %>

                          <% display_fields.each do |label, value| %>
                            <% if value.present? %>
                              <tr class="rover_tbody_tr">
                                <td class="rover_tbody_td"><%= label %></td>
                                <td class="rover_tbody_td"><%= value %></td>
                              </tr>
                            <% end %>
                          <% end %>

                        </tbody>
                      </table>
                    </div>
                  </fieldset>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= paginate @items %>
    <% end %>
  <% end %>
</div>
