
<%= render @collection %>

<div>
  <%= link_to "Edit this collection", edit_collection_path(@collection) %> |
  <%= link_to "Back to collections", collections_path %>

  <% if is_super_admin? %>
    <%= button_to "Destroy this collection", @collection, method: :delete %>
  <% end %>
</div>

<% if is_admin? %>
  <div>
    <%= render 'import' %>
  </div>
<% end %>
