<% content_for :head do %>
 <%= tag.meta name: "turbo-cache-control", content: "no-cache" %>
<% end %>

<%= render @collection %>

<% if policy(CollectionQuestion).create? %>
  <%= link_to "Collection-Specific Loan Question", 
              collection_collection_questions_path(@collection),
              class: "btn btn-success mb-3" %>
<% end %>

<div>
  <%= render 'import' if policy(@collection).import? %>
</div>

<br>
<div>
  <h2>Items in this Collection</h2>
  <%= search_form_for @q1, url: search_collection_path(@collection), turbo: true, data: { turbo_frame: "all_items" }, method: :post, as: :q1 do |f| %>
    <div class="mb-2">
      <%= f.label :country_case_insensitive_or_state_province_case_insensitive_or_identifications_scientific_name_or_identifications_vernacular_name_cont, "Search Items in Collection" %>
      <%= f.search_field :country_case_insensitive_or_state_province_case_insensitive_or_identifications_scientific_name_or_identifications_vernacular_name_cont, placeholder: 'Country, State, Province, or Scientific Name or Vernacular Name', class: "form-control form-control-sm" %>
    </div>
    <div>
      <%# = f.label :catalog_number_eq, "Catalog Number" %>
      <%#= f.search_field :catalog_number_eq %>
    </div>
    <div>
      <%= f.submit "Search" %>
    </div>
  <% end %>
  <div class="mb-4">
    <%= turbo_frame_tag "all_items" do %>
      <% if @items.empty? %>
        No items available in this collection.
      <% else %>
        <%= render partial: "items" %>
      <% end %>
    <% end %>
  </div>
</div>
