<div class="bg-secondary text-white text-center px-2">

  <div class="d-flex flex-column justify-content-between">
    <!-- Welcome Message -->
    <div class="text-center">
      <h1>Welcome<br><%= current_user.first_name.present? ? "#{current_user.first_name}!" : "" %></h1>
    </div>
    <!-- Edit Profile Link -->
    <div class="ps-4 pt-2 text-start">
      <div class="text-white">
        Affiliation: <%= current_user.affiliation.present? ? "#{current_user.affiliation}" : "Not provided" %>
      </div>
      <div class="text-white link-underline link-underline-opacity-0">
        ORCID: <%= current_user.orcid.present? ? "#{current_user.orcid}" : "Not provided" %>
      </div>
      <%= link_to edit_profile_path, class: 'text-white link-underline link-underline-opacity-0' do %>
        <i class="bi bi-person-circle"></i> <span class="fw-light">Edit Profile</span>
      <% end %>
    </div>
    <hr class="w-100 my-2" />
    <!-- Show Collection Specific Questions -->
    <div class="ps-4 pt-2 text-start">
      <%= link_to show_collections_questions_profile_path, class: 'text-white link-underline link-underline-opacity-0' do %>
        <i class="bi bi-question-circle"></i> <span class="fw-light">Questionnaire Information</span>
      <% end %>
    </div>
    <!-- Update Loan Question Link -->
    <div class="ps-4 py-2 text-start">
      <%= link_to edit_loan_questions_profile_path, class: 'text-white link-underline link-underline-opacity-0' do %>
        <i class="bi bi-pencil"></i> <span class="fw-light">Loan Questionnaire</span>
      <% end %>
    </div>
    <!-- Update Collection Specific Question Link -->
    <% @collections.each do |collection| %>
      <div class="d-flex gap-2">
        <div class="ps-4 text-start">
          <%= link_to collection_questions_profile_path(collection), class: 'text-white link-underline link-underline-opacity-0' do %>
            <span class="fw-light"><i class="bi bi-pencil"></i> <%= collection.division %> Questionnaire</span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <hr>

  <!-- Last Updated -->
  <div class="pb-1">
    <p class="text-white">
      <small><em>Last updated:<br> <%= current_user.updated_at.strftime("%B %d, %Y") %></em></small>
    </p>
  </div>
</div>
