<% content_for :title, "Answer Loan Questions" %>

<h1 class="mb-3 text-center">Answer Loan Questions</h1>

<%= form_with url: update_loan_questions_profile_path, method: :patch, multipart: true, local: true do %>
  <div class="card shadow-sm">
    <div class="card-body">
      <% @loan_questions.each do |loan_question| %>
        <% existing_answer = @loan_answers.find { |a| a.loan_question_id == loan_question.id } %>

        <div class="mb-4 p-3 bg-light">
          <label class="form-label"><%= loan_question.question %></label>
          <% if loan_question.required? %>
            <span class="text-danger">*</span>
          <% end %>

          <% case loan_question.question_type %>
          <% when "text" %>
            <%= text_field_tag "loan_answers[#{loan_question.id}]",
                existing_answer&.answer&.to_plain_text&.strip || "",
                class: "form-control ms-3" %>

          <% when "checkbox" %>
            <p>Pick one or more options below</p>
            <% loan_question.options.each do |option| %>
              <div class="form-check ms-3">
                <%= check_box_tag "loan_answers[#{loan_question.id}][]", option.value,
                  (existing_answer&.answer&.to_plain_text&.strip || "").to_s.include?(option.value) %>
                <%= label_tag nil, option.value, class: "form-check-label" %>
              </div>
            <% end %>

          <% when "dropdown" %>
            <%= select_tag "loan_answers[#{loan_question.id}]",
                options_for_select(loan_question.options.map(&:value), existing_answer&.answer&.to_plain_text&.strip || ""),
                class: "form-select ms-3", prompt: "Select..." %>
          
          <% when "attachment" %>
            <p>Currently Attached:
              <% if existing_answer&.attachment&.attached? %>
                <%= link_to("#{existing_answer.attachment.filename.to_s}", existing_answer.attachment, target: "_blank", rel: "noopener noreferrer", class: "text-decoration-none") %>
              <% else %>
                None
              <% end %>
            </p>
            <div class="ms-3">
              <%= file_field_tag "loan_answers[#{loan_question.id}]", accept: ".pdf", class: "form-control ms-3" %>
            </div>

          <% else %>
            <div class="alert alert-warning mt-3">
              <strong>Unsupported question type:</strong> <%= loan_question.question_type %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="mb-3">
        <%= submit_tag "Submit", class: "btn btn-primary" %>
        <%= link_to "Cancel", profile_path, class: "link_to" %>
      </div>
    </div>
  </div>
<% end %>
