<div id="<%= dom_id @collection_question %>">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Collection Question Details</h1>
    <div class="d-flex align-items-end flex-column gap-1 mt-2">
      <%= link_to "Back to Collection", collection_path(@collection), class: "link_to" %>
      <%= link_to "Edit Collection Question", edit_collection_collection_question_path(@collection, @collection_question), class: "btn btn-primary h-50 mt-auto mb-auto" %>
      <%#= link_to "Delete Collection Question", collection_collection_question_path(@collection, @collection_question), class: "link_to", data: { turbo_confirm: "Are you sure you want to delete this question?", turbo_method: :delete } %>
    </div>
  </div>

  <p>
    <strong>Question:</strong>
    <%= @collection_question.question %>
  </p>

  <p>
    <strong>Question type:</strong>
    <%= @collection_question.question_type %>
  </p>

  <% if @collection_question.collection_options.present? %>
    <p>
      <strong>Options:</strong>
    </p>
    <div class="m-3">
      <% @collection_question.collection_options.each do |option| %>
        <p><%= option.value %></p>
      <% end %>
    </div>
  <% end %>
</div>
