<div class="container-fluid">
  <% if (announcement = Announcement.find_by(location: "collection_questions")) && announcement.displayed? %>
    <div class="announcement">
      <%= sanitize(announcement.content.to_s) %>
    </div>
  <% end %>
  <div class="md:d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
      <h1><%= @collection.division %> Collection Questions</h1>
      <%= link_to collection_path(@collection), class: "btn btn-outline-secondary" do %>
        <i class="bi bi-arrow-left me-2"></i> Back To Collection
      <% end %>
    </div>
    <% if policy(@collection).update? %>
      <div class="mt-4 text-end">
        <%= link_to preview_collection_collection_questions_path(@collection), class: "btn btn-outline-success me-2 shadow-sm" do %>
          <i class="bi bi-eye me-2"></i> Preview Collection Questions
        <% end %>
        <%= link_to "New Collection Question", new_collection_collection_question_path(@collection), class: "btn btn-primary mt-2 mt-md-0" %>
      </div>
    <% end %>
  </div>

  <%= render 'collection_questions_list', collection_questions: @collection.collection_questions %>
</div>
