<div class="card faq-item mb-3" id="<%= dom_id faq %>">
  <div class="card-header bg-primary text-white fw-bold d-flex gap-2">
    <span class="fw-bold">Question:</span>
    <span><%= faq.question %></span>
  </div>
  <div class="card-body bg-light d-flex gap-2">
    <p class="card-text">Answer: <%= faq.answer %></p>
  </div>
  <% if is_super_admin? %>
    <div class="card-footer d-flex justify-content-end gap-2">
      <%= link_to "Edit", edit_faq_path(faq), class: "btn btn-secondary" %>
      <%= button_to "Delete", faq, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>