<% is_preview = params[:preview].present? %>
<% if is_preview %>
  <div class="d-flex justify-content-end mt-3">
    <%= link_to "Back to Announcement", announcements_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %> 

<%= turbo_frame_tag "checkout" do %>
  <% if (announcement = Announcement.find_by(location: "checkout")) && announcement.displayed? %>
    <div class="text-start mt-5 mb-5">
      <%= sanitize(announcement.content.to_s) %>
    </div>
  <% end %>
  <div class="d-flex justify-content-between">
    <h1 class="py-5">Checkout</h1>
    <% if @checkout.requestables.where(saved_for_later: false).exists? %>
      <%= link_to loan_request_path, class: "btn btn-primary h-50 mt-auto mb-auto", data: { turbo_frame: "_top" } do %>
        <i class="bi bi-envelope"></i> Send Loan Request
      <% end %>
    <% end %>
  </div>
  <% if @checkout.requestables.where(saved_for_later: false).exists? %>
    <%= render "checkout/requestables" %>
  <% else %>
    <p>Your checkout is empty</p>
  <% end %>

  <h1 class="py-5">Saved for Later</h1>
  <% if @checkout.requestables.where(saved_for_later: true).exists? %>
      <%= render "checkout/saved_list" %>
  <% else %>
    <p>You don't have any preparations saved for later.</p> 
  <% end %>
<% end %>
