<% is_preview = params[:preview].present? %>

<%= turbo_frame_tag "checkout" do %>
  <%= render "layouts/announcement", is_preview: is_preview, location: "checkout" %>
  <div class="d-flex justify-content-between">
    <h1 class="py-5">Checkout</h1>
      <% if @checkout.requestables.where(saved_for_later: false).exists? %>
        <%= button_to enable_loan_request_path, method: :post, class: "btn btn-primary h-48 mt-1 mb-1", data: { turbo_frame: "_top" } do %>
          <i class="bi bi-envelope"></i> Send Loan Request
        <% end %>
      <% end %>
  </div>
  <% if @checkout.requestables.where(saved_for_later: false).exists? %>
    <%= render "checkout/requestables" %>
  <% else %>
    <p>Your checkout is empty</p>
  <% end %>

  <h1 class="py-5">Saved for Later</h1>
  <% if @checkout.requestables.where(saved_for_later: true).exists? %>
      <%= render "checkout/saved_list" %>
  <% else %>
    <p>You don't have any preparations saved for later.</p> 
  <% end %>
<% end %>
