<table class="table text-center mt-4">
    <thead class="table-group-divider">
    <tr>
      <th scope="col" class="text-start">Collection</th>
      <th scope="col">Item</th>
      <th scope="col">Preparation</th>
      <th scope="col">Amount</th>
      <th scope="col">Delete</th>
      <th scope="col">Save for Later</th>
    </tr>
    </thead>
    <tbody class="table-group-divider" id="requestables">
    
      <% @checkout.requestables.each do |requestable| %>
        <tr id="<%= dom_id(requestable) %>">
          <% item = requestable.preparation.item %>
          <% preparation = requestable.preparation %>
          <td class="text-start"><%= item.collection.division %></td>
          <td class="text-start"><%= item.display_name %></td>
          <td class="text-start"><%= preparation.display_name %></td>
          <td>
            <%= form_with url: checkout_add_path, 
              data: { controller: "autosubmit",
                autosubmit_target: "form",
                turbo_frame: "checkout"
                } do |form| %>
              <%= form.hidden_field :id, value: preparation.id %>
              <%= form.select :count, options_for_select(0..preparation.count, requestable.count), { }, { "data-action": "change->autosubmit#submit" } %>
            <% end %>
          </td>
          <td>
            <%= form_with(url: checkout_remove_path) do |form| %>
              <%= form.hidden_field :id, value: requestable.id %>
              <%= form.submit "X" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
