<% @checkout.requestables.active.order(:id).each do |requestable| %>
  <% item = requestable.item %>
  <% preparation = requestable.preparation %>
  <div class="card mb-3">
    <div class="card-body">
      <div class="card-title text-center fw-bold">
        <%= link_to item.display_name, item_path(item), class: "link_to", data: { turbo_frame: "_top" } %>
      </div>
      <div class="row">
        <div class="col-md-4 text-start align-middle">
          <strong>Collection:</strong> <%= item.collection.division %>
        </div>
        <div class="col-md-4 text-start align-middle">
          <strong>Preparation Type:</strong> <%= show_preparation(requestable) %>
        </div>
       
        <div class="col-md-4 text-start align-middle mb-2">
          <%= form_with url: checkout_change_path, 
              data: { controller: "autosubmit",
                autosubmit_target: "form",
                turbo_frame: "checkout"
              } do |form| %>
            <%= form.hidden_field :id, value: preparation.id %>
            <div class="position-relative" style="display: inline-block;">
              <%= form.select :count, options_for_select(0..requestable.preparation.count, requestable.count), { }, { class: "form-control pe-4 checkout-select", "data-action": "change->autosubmit#submit", "aria-label": "Select count for #{item.display_name}" } %>
              <span class="position-absolute top-50 end-0 translate-middle-y pe-2" style="pointer-events: none;">
                <i class="bi bi-caret-down-fill"></i>
              </span>
            </div>
          <% end %>
        </div>
        
        <div class="col-md-4 text-start align-middle">
          <%= form_with url: checkout_remove_path do |form| %>
            <%= form.hidden_field :id, value: requestable.id %>
            <button type="submit" class="btn btn-link">
              <i class="bi bi-trash-fill text-danger"></i> Remove
            </button>
          <% end %>
        </div>
        <div class="col-md-4 text-start align-middle">
          <%= form_with url: checkout_save_for_later_path, data: { turbo_frame: "checkout" } do |form| %>
            <%= form.hidden_field :id, value: preparation.id %>
            <button type="submit" class="btn btn-link">
              <i class="bi bi-bookmarks"></i> Save for Later
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
