<% @checkout.requestables.saved_for_later.order(:id).each do |requestable| %>
  <% item = requestable.preparation.item %>
  <% preparation = requestable.preparation %>
  <div class="card mb-3">
    <div class="card-body">
      <div class="card-title text-center fw-bold">
        <%= link_to item.display_name, item_path(item), class: "link_to", data: { turbo_frame: "_top" } %>
      </div>
      <div class="row">
        <div class="col-md-4 text-start align-middle">
          <strong>Collection:</strong> <%= item.collection.division %>
        </div>
        <div class="col-md-4 text-start align-middle">
          <strong>Preparation Type:</strong> <%= preparation.display_name %>
        </div>
        <div>&nbsp;</div>
        <div class="col-md-4 text-start align-middle">
          <%= form_with url: checkout_remove_path, data: { turbo_confirm: "Are you sure you want to remove this item?" } do |form| %>
            <%= form.hidden_field :id, value: requestable.id %>
            <button type="submit" class="btn btn-link">
              <i class="bi bi-trash-fill text-danger"></i> Remove
            </button>
          <% end %>
        </div>
        <div class="col-md-4 text-start align-middle">
          <%= form_with url: checkout_move_back_path, data: { turbo_frame: "checkout" } do |form| %>
            <%= form.hidden_field :id, value: preparation.id %>
            <button type="submit" class="btn btn-link">
              <i class="bi bi-cart3"></i> Move to Checkout
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
