<% if type == :global %>
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Curated Search Templates</h1>
    <% if is_admin? %>
      <%= link_to "New Search Template", search_items_path, class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
<div class="table-responsive">
  <table class="table text-center mt-4">
    <thead class="table-group-divider">
      <tr>
        <% if type == :global && is_admin? || type == :personal && user_signed_in? %>
          <th scope="col" class="text-start">Reorder</th>
        <% end %>
        <th scope="col" class="text-start">Position</th>
        <th scope="col" class="text-start">Template Name</th>
        <th scope="col" class="text-start">Filters Applied</th>
        <% if type == :global && is_admin? || type == :personal && user_signed_in? %>
          <th scope="col" class="text-start">Edit</th>
          <th scope="col" class="text-start">Delete</th>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% saved_searches.each do |saved_search| %>
        <tr>
          <% if type == :global && is_admin? || type == :personal && user_signed_in? %>
            <td class="text-start align-middle">
              <div class="d-flex gap-1 justify-content-start align-items-center">
                <%= button_to "Up", move_up_saved_search_path(saved_search), method: :patch, class: "btn btn-sm btn-outline-secondary me-1" %>
                <%= button_to "Down", move_down_saved_search_path(saved_search), method: :patch, class: "btn btn-sm btn-outline-secondary" %>
              </div>
            </td>
          <% end %>
          <td class="text-start align-middle">
            <%= saved_search.position %>
          </td>
          <td class="text-start align-middle">
            <%= link_to saved_search.name, search_items_path(q: saved_search.search_params), class: "link_to", data: { turbo_frame: "_top" } %>
          </td>
          <td class="text-start align-middle">
            <% if saved_search.filters.present? %>
              <%= render partial: "search_parameters", locals: { saved_search: saved_search } %>
            <% else %>
              <span class="text-muted">No parameters saved</span>
            <% end %>
          </td>
          <% if type == :global && is_admin? || type == :personal && saved_search.user == current_user%>
            <td class="text-start align-middle">
              <%= link_to edit_saved_search_path(saved_search), class: "link_to", data: { turbo_frame: "_top" } do %>
                <i class="bi bi-pencil-square text-primary"></i>
              <% end %>
            </td>
            <td class="text-start align-middle">
              <%= link_to saved_search_path(saved_search), 'aria-label': "delete_#{saved_search.id}", data: { turbo_confirm: "Are you sure you want to delete this saved search?" , turbo_method: :delete, turbo_frame: "_top" } do %>
                <i class="bi bi-trash-fill text-danger"></i>
              <% end %>
            </td>
          <% else %>
            <td><span class="text-muted"></span></td>
            <td><span class="text-muted"></span></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="mt-4">
  <p class="text-muted">
    <strong><%= pluralize(saved_searches.count, 'saved search') %></strong> total
  </p>
</div>
