<% active_filters = JSON.parse(saved_search.filters) rescue [] %>
<% active_filters ||= [] %>
<% active_filters.each_with_index do |filter_hash, hash_index| %>
  <% filter_hash.each_with_index do |(key, label_value_hash), key_index| %>
    <% if key == "collection_id_in" %>
      <% label_value_hash.each_with_index do |(collection_key, collection_name), index| %>
        <span class="">
          Collection: "<%= collection_name %>"
        </span>
        <%= or_separator(index, label_value_hash.size) %>
      <% end %>
    <% else %>
      <% label_value_hash.each_with_index do |(label, values), index| %>
        <% Array.wrap(values).each_with_index do |value, value_index| %>
          <span class="">
            <%= label %>: "<%= value %>"
          </span>
          <%= or_separator(value_index, Array.wrap(values).size) %>
        <% end %>
        <%= or_separator(index, label_value_hash.size) %>
      <% end %>
    <% end %>
    <%= or_separator(key_index, filter_hash.size) %>
  <% end %>
  <% unless hash_index == active_filters.size - 1 %>
    <br><span class="fw-bold"> AND </span>
  <% end %>
<% end %>
