<div class="d-flex align-items-center justify-content-between">
  <h1 class="m-0">New Loan Request</h1>
  <%= link_to "Cancel Loan Request", checkout_path, class: "my-5 btn btn-outline-primary" %>
</div>
<div>
  <div class="stepwizard d-flex justify-content-center mb-4">
    <% if step > 1 %>
      <div class="step">
        <%= link_to new_loan_request_path, class: "text-decoration-none text-dark step-link" do %>
          <div class="circle bg-secondary text-white step-circle">1</div>
          <div>User Info</div>
        <% end %>
      </div>
    <% else %>
      <div class="step">
        <div class="circle bg-primary text-white">1</div>
        <div>User Info</div>
      </div>
    <% end %>
    <% if step > 2 %>
      <div class="step">
        <%= link_to step_two_path, class: "text-decoration-none text-dark step-link" do %>
          <div class="circle bg-secondary text-white step-circle">2</div>
          <div>Loan Answers</div>
        <% end %>
      </div>
    <% else %>
      <div class="step">
        <div class="circle <%= step == 2 ? 'bg-primary' : 'bg-secondary' %> text-white">2</div>
        <div>Loan Answers</div>
      </div>
    <% end %>
    <% if step > 3 %>
      <div class="step">
        <%= link_to step_three_path, class: "text-decoration-none text-dark step-link" do %>
          <div class="circle bg-secondary text-white step-circle">3</div>
          <div>Collection Answers</div>
        <% end %>
      </div>
    <% else %>
      <div class="step">
        <div class="circle <%= step == 3 ? 'bg-primary' : 'bg-secondary' %> text-white">3</div>
        <div>Collection Answers</div>
      </div>
    <% end %>
    <% if step > 4 %>
      <div class="step">
        <%= link_to step_four_path, class: "text-decoration-none text-dark step-link" do %>
          <div class="circle bg-secondary text-white step-circle">4</div>
          <div>Shipment</div>
        <% end %>
      </div>
    <% else %>
      <div class="step">
        <div class="circle <%= step == 4 ? 'bg-primary' : 'bg-secondary' %> text-white">4</div>
        <div>Shipment</div>
      </div>
    <% end %>
    <div class="step">
      <div class="circle <%= step == 5 ? 'bg-primary' : 'bg-secondary' %> text-white">5</div>
      <div>Loan Items</div>
    </div>
  </div>
</div>
