<div>
  <%= link_to "Cancel Loan Request", checkout_path, class: "my-5 btn btn-outline-primary" %>
</div>

<div>
  <div class="stepwizard d-flex justify-content-center mb-4">
    <div class="step">
      <%= link_to new_loan_request_path, class: "text-decoration-none text-dark step-link" do %>
        <div class="circle bg-secondary text-white step-circle">1</div>
        <div>User Info</div>
      <% end %>
    </div>
    <div class="step">
      <%= link_to step_two_path, class: "text-decoration-none text-dark step-link" do %>
        <div class="circle bg-secondary text-white step-circle">2</div>
        <div>Loan Answers</div>
      <% end %>
    </div>
    <div class="step">
      <%= link_to step_three_path, class: "text-decoration-none text-dark step-link" do %>
        <div class="circle bg-secondary text-white step-circle">3</div>
        <div>Collection Answers</div>
      <% end %>
    </div>
    <div class="step">
      <%= link_to step_four_path, class: "text-decoration-none text-dark step-link" do %>
        <div class="circle bg-secondary text-white">4</div>
        <div>Loan Items</div>
      <% end %>
    </div>
    <div class="step">
      <div class="circle bg-primary text-white">5</div>
      <div>Shipment</div>
    </div>
  </div>
</div>

<!-- Step 5: Shipment -->
<%= form_with(model: @loan_request, url: send_loan_request_path) do |form| %>

  <div>
    <%= render "profiles/shipment_selection", addresses: @addresses %>
  </div>

  <div class="d-flex justify-content-between my-4">
    <%= link_to "Previous", step_four_path, class: "btn btn-primary" %>
    <%#= button_to "Send Loan Request", send_loan_request_path, class: "btn btn-primary" %>
    <%= form.submit "Send Loan Request", class: "btn btn-primary" %>

  </div>
<% end %>
