<h1>Send Information Request</h1>

<%= form_with(model: @information_request, url: send_information_request_path,
        data: { controller: "checkbox-group-required",
          target: "form",
          action: "submit->checkbox-group-required#submitForm"
        } ) do |form| %>
  <% if @information_request.errors.any? %>
    <div class="text-danger">
    <h2><%= pluralize(@information_request.errors.count, "error") %></h2>
    <ul>
      <% @information_request.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
    </div>
  <% end %>
  <div>
    <fieldset>
      <legend>Select Email Addresses you want to send the request to *</legend>
      <% @send_to.each do |collection, email| %>
        <div class="ms-3">
          <%= check_box_tag 'information_request[send_to][]', email, @information_request.send_to&.include?(email), id: "send_to_#{collection.parameterize.underscore}", required: false, "data-checkbox-group-required-target": "checkboxes" %>
          <%= label_tag "send_to_#{collection.parameterize.underscore}", collection %>
        </div>
      <% end %>
    </fieldset>
  </div>
  <div class="text-danger" id="checkbox_error"></div>

  <div class="mt-3">
    <%= check_box_tag :include_items_from_checkout, '1', id: 'include_items_from_checkout' %>
    <%= label_tag 'include_items_from_checkout', 'Include Items from Checkout' %>
  </div>
  <div class="mt-3">
    <%= form.label :question, "Email Message *" %>
    <%= form.rich_text_area :question, required: true %>
  </div>
  <div class="mt-1 gap-1 d-flex flex-row justify-content-start align-items-center">
    <%= form.submit %>
    <%= link_to "Cancel", :back, class: "link_to" %>
  </div>
<% end %>
