<h1>Send Loan Request</h1>

<%= render "profiles/user_info" %>
<%= render "profiles/user_loan_answers" %>
<%= render "profiles/user_collections_answers" %>
<%= render "profiles/user_loan_items" %>

<%= form_with(model: @loan_request, url: send_loan_request_path) do |form| %>
  
  <div class="mt-1 gap-1 d-flex flex-row justify-content-start align-items-center">
    <%= form.submit 'Send Loan Request' %>
    <%= link_to "Cancel", checkout_path, class: "link_to" %>

  </div>
<% end %>
