<%= form_with(model: loan_question, local: true, data: { controller: "edit-options" }) do |form| %>
  <% if loan_question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(loan_question.errors.count, "error") %> prohibited this loan question from being saved:</h2>
      <ul>
        <% loan_question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="mb-3">
    <%= form.label :question, class: "form-label" %>
    <%= form.text_field :question, required: true, class: "form-control" %>
  </div>

  
  <div class="mb-3">
    <%= form.label :question_type, class: "form-label" %>
    <%= text_field_tag :question_type_display, loan_question.question_type.humanize, class: "form-control", disabled: true %>
    <%= form.hidden_field :question_type %>
  </div>

  
  <% if loan_question.question_type.in?(%w[dropdown checkbox]) %>
    <div class="mb-3">
      <h5>Options</h5>

      
      <div data-edit-options-target="fields">
        <% loan_question.options.each_with_index do |option, index| %>
          <%= form.fields_for :options, option do |option_form| %>
            <div class="option-list-item mb-2">
              <%= option_form.label :value, "Option #{index + 1}", class: "form-label", data: { edit_options_target: "option_label" } %>
              <%= option_form.text_field :value, class: "form-control", data: { edit_options_target: "option_value" } %>
              <%= option_form.hidden_field :id %>
              <%= option_form.check_box :_destroy, class: "d-none", data: { edit_options_target: "destroy_field" } %>

              <button type="button"
                      class="btn btn-sm btn-danger remove-option-button mt-1"
                      data-edit-options-target="remove_button"
                      data-action="edit-options#removeOption">
                Remove
              </button>
            </div>
          <% end %>
        <% end %>
      </div>

      <button type="button" class="btn btn-sm btn-secondary mt-2"
              data-action="edit-options#append"
              data-edit-options-target="add_option_button">
          Add Option
      </button>
    </div>
  <% end %>

  <%= form.submit "Update Loan Question", class: "btn btn-primary mt-3" %>

  <template data-edit-options-target="template">
    <div class="option-list-item mb-2">
      <label class="form-label" data-edit-options-target="option_label">Option</label>
      <input type="text" class="form-control" data-edit-options-target="option_value" />
      <input type="hidden" data-edit-options-target="option_number" />
      <button type="button"
              class="btn btn-sm btn-danger remove-option-button mt-1"
              data-edit-options-target="remove_button"
              data-action="edit-options#removeOption">
        Remove
      </button>
    </div>
  </template>
<% end %>
