<%= form_with(model: loan_question, data: {controller: "options"}) do |form| %>
  <% if loan_question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(loan_question.errors.count, "error") %> prohibited this loan_question from being saved:</h2>

      <ul>
        <% loan_question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :question, class: "form-label" %>
    <%= form.text_field :question %>
  </div>

  <div>
    <%= form.label :question_type, class: "form-label" %>
    <%= form.select :question_type, @question_types, { include_blank: "Select ...", required: true }, { class: "input_text_field", "data-options-target": "question_type", :"data-action" => "change->options#showOptions" } %>
  </div>

  <div id="options"></div>

  <div data-options-target="fields"></div>

  <div class="invisible" data-options-target="show_options">
    <%= button_tag "Add Option", type: :button, data: {action: "options#append"} %>

    <template data-options-target="template">
      <%= fields_for 'options[]', Option.new, index: "__INDEX__" do |form| %>
        <%= render "loan_questions/option_value", form: form %>
      <% end %>
    </template>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
