<%= form_with(model: loan_question, data: {controller: "show-options"}) do |form| %>
  <% if loan_question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(loan_question.errors.count, "error") %> prohibited this loan_question from being saved:</h2>

      <ul>
        <% loan_question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :question, class: "form-label" %>
    <%= form.text_field :question, required: true, class: "input_text_field"  %>
  </div>

  <div>
    <%= form.label :question_type, class: "form-label" %>
    <%= form.select :question_type, @question_types, { include_blank: "Select ...", required: true }, { class: "input_text_field", "data-show-options-target": "question_type", :"data-action" => "change->show-options#showOptions" } %>
  </div>
  <div class="invisible" data-controller="edit-options" data-show-options-target="display_options">
    <%= turbo_frame_tag("options_list") do %>
      <div id="options" data-edit-options-target="fields"></div>
        <div class="option-list-item d-flex justify-content-between align-items-center">
          <div class="flex-grow-1 mx-3">
            <label for "option_attributes_1_option">Option 1</label>
            <%= form.text_field :value, required: true, class: "input_text_field", id: "option_attributes_1_option" %>
          </div>
          <div class="">
            <button
                type="button"
                title="Remove option"
                class="remove-option-button mt-4 invisible"
                data-action="click->edit-options#removeOption">
              <i class="bi bi-trash-fill text-danger"></i>
            </button>
          </div>
          <input data-edit-options-target="option_number" autocomplete="off" type="hidden" value="1"/>
        </div>

        <div class="option-list-item d-flex justify-content-between align-items-center">
          <div class="flex-grow-1 mx-3">
            <label for "option_attributes_2_option">Option 2</label>
            <%= form.text_field :value, required: true, class: "input_text_field", id: "option_attributes_2_option" %>
          </div>
          <div class="">
            <button
                type="button"
                title="Remove option"
                class="remove-option-button mt-4 invisible"
                data-action="click->edit-options#removeOption">
              <i class="bi bi-trash-fill text-danger"></i>
            </button>
          </div>
          <input data-edit-options-target="option_number" autocomplete="off" type="hidden" value="2"/>
        </div>

        <div>
          <%= button_tag "Add Option", type: :button, class: "btn btn-sm", data: {action: "edit-options#append"} %>
        </div>

        <template data-edit-options-target="template">
          <div class="option-list-item d-flex justify-content-between align-items-center">
              <div class="flex-grow-1 mx-3">
                <label data-edit-options-target="option_label"></label>
                <%= form.text_field :value, required: true, class: "input_text_field", "data-edit-options-target": "option_value" %>
              </div>
            <div class="">
              <button
                  type="button"
                  title="Remove option"
                  class="remove-option-button mt-4"
                  data-action="click->edit-options#removeOption">
                <i class="bi bi-trash-fill text-danger"></i>
              </button>
            </div>
            <input data-edit-options-target="option_number" autocomplete="off" type="hidden"/>
          </div>
        </template>
      </div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
 
<% end %>
