<% is_preview = params[:preview].present? %>
<% if is_preview %>
  <div class="d-flex justify-content-end mt-3">
    <%= link_to "Back to Announcement", announcements_path, class: "btn btn-outline-secondary" %>
  </div>
  <% if (announcement = Announcement.find_by(location: "loan_questions")) %>
    <div class="text-start mt-5 mb-5">
      <%= sanitize(announcement.content.to_s) %>
    </div>
  <% end %>
<% else %>
  <% if (announcement = Announcement.find_by(location: "loan_questions")) && announcement.displayed? %>
    <div class="text-start mt-5 mb-5">
      <%= sanitize(announcement.content.to_s) %>
    </div>
  <% end %>
<% end %> 

<div class="container-fluid">
  <h1 class="mb-3 text-center">Loan Questions</h1>

  <div class="mt-4 text-end">
    <% if is_admin? %>
      <%= link_to preview_loan_questions_path, class: "btn btn-outline-success me-2 shadow-sm" do %>
        <i class="bi bi-eye me-2"></i> Preview Loan Questions
      <% end %>
    <% end %>
      <%= link_to "New Loan Question", new_loan_question_path, class: "btn btn-success" if is_super_admin? %>
  </div>
  
  <%= render 'loan_questions_list' %>
</div>
