<% content_for :title, "Loan Questions Preview" %>

<div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
  <h1>Loan Questions Preview</h1>  
  <%= link_to loan_questions_path, class: "btn btn-outline-primary my-2 m-lg-0" do %>
    <i class="bi bi-arrow-left me-2"></i> Back To Loan Questions
  <% end %>
</div>

<div class="card shadow-sm mb-2">
  <div class="card-body">
    <%= form_with url: "#", local: true, html: { onsubmit: "return false;" } do |f| %>
      <% @loan_questions.each do |loan_question| %>
        <div class="mb-4 p-3 bg-light">
          <label class="form-label"><%= loan_question.position %>. <%= loan_question.question %>
            <% if loan_question.required? %>
              <span class="text-danger">*</span>
            <% end %>
          </label>
          
          <% if loan_question.question_type == "text" %>
            <div class="ms-3">
              <input type="text" class="form-control" placeholder="User input...">
            </div>
          <% elsif loan_question.question_type == "checkbox" %>
            <p>Pick one or more options below</p>
            <div class="ms-3">
              <% loan_question.options.each do |option| %>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox">
                  <label class="form-check-label"><%= option.value %></label>
                </div>
              <% end %>
            </div>
          <% elsif loan_question.question_type == "dropdown" %>
            <div class="ms-3">
              <select class="form-select">
                <option value="" selected disabled>Select ...</option>
                <% loan_question.options.each do |option| %>
                  <option value="<%= option.value %>"><%= option.value %></option>
                <% end %>
              </select>
            </div>
          <% elsif loan_question.question_type == "attachment" %>
            <div class="ms-3">
              <input type="file" class="form-control">
            </div>
          <% else %>
            <div class="alert alert-warning mt-3">
              <strong>Unsupported question type:</strong> <%= loan_question.question_type %>
            </div>
          <% end %>
        </div>

      <% end %>
    <% end %>

  </div>
</div>
