<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h1 class="card-title mb-4 text-center">Edit Address</h1>

          <%= form_with model: @address, local: true do |f| %>
            <div class="row">
              <div class="col-md-6 mb-3">
                <%= f.label :first_name, "First Name*", class: "form-label" %>
                <%= f.text_field :first_name, class: "form-control", required: true %>
              </div>
              <div class="col-md-6 mb-3">
                <%= f.label :last_name, "Last Name*", class: "form-label" %>
                <%= f.text_field :last_name, class: "form-control", required: true %>
              </div>
            </div>

            <div class="mb-3">
              <%= f.label :email, "Email*", class: "form-label" %>
              <%= f.email_field :email, class: "form-control", required: true %>
            </div>

            <div class="mb-3">
              <%= f.label :address_line_1, "Address Line 1*", class: "form-label" %>
              <%= f.text_field :address_line_1, class: "form-control", required: true %>
            </div>

            <div class="mb-3">
              <%= f.label :address_line_2, "Address Line 2", class: "form-label" %>
              <%= f.text_field :address_line_2, class: "form-control" %>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <%= f.label :city, "City*", class: "form-label" %>
                <%= f.text_field :city, class: "form-control", required: true %>
              </div>
              <div class="col-md-6 mb-3">
                <%= f.label :state, "State / Province*", class: "form-label" %>
                <%= f.text_field :state, class: "form-control", required: true %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <%= f.label :zip, "ZIP / Postal Code*", class: "form-label" %>
                <%= f.text_field :zip, class: "form-control", required: true %>
              </div>
              <div class="col-md-6 mb-3">
                <%= f.label :country, "Country*", class: "form-label" %>
                <%= f.text_field :country, class: "form-control", required: true %>
              </div>
            </div>

            <div class="mb-3">
              <%= f.label :phone, "Phone*", class: "form-label" %>
              <%= f.telephone_field :phone, class: "form-control", required: true %>
            </div>

            <div class="form-check mb-4">
              <%= f.check_box :primary, class: "form-check-input", id: "primary" %>
              <%= f.label :primary, "Set as primary address", class: "form-check-label" %>
            </div>

            <%= hidden_field_tag :loan_request, params[:loan_request] %>
            <%= hidden_field_tag :return_to, params[:return_to] %>

            <div class="d-grid">
              <% if params[:loan_request] %>
                <%= f.submit "Update Shipping Address", class: "btn btn-primary" %>
              <% else %>
                <%= f.submit "Update Address", class: "btn btn-primary" %>
              <% end %>
            </div>

            <div class="d-grid">
              <%= link_to "Delete Address", address_path(@address), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this address?" }, class: "btn btn-danger" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="text-center mt-3">
        <%= link_to "â† Back to addresses", addresses_path, class: "text-decoration-none text-primary" %>
      </div>
    </div>
  </div>
</div>
