<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :occurrence_id, style: "display: block" %>
    <%= form.text_field :occurrence_id %>
  </div>

  <div>
    <%= form.label :catalog_number, style: "display: block" %>
    <%= form.text_field :catalog_number %>
  </div>

  <div>
    <%= form.label :modified, style: "display: block" %>
    <%= form.date_field :modified %>
  </div>

  <div>
    <%= form.label :recorded_by, style: "display: block" %>
    <%= form.text_field :recorded_by %>
  </div>

  <div>
    <%= form.label :individual_count, style: "display: block" %>
    <%= form.number_field :individual_count %>
  </div>

  <div>
    <%= form.label :sex, style: "display: block" %>
    <%= form.text_field :sex %>
  </div>

  <div>
    <%= form.label :life_stage, style: "display: block" %>
    <%= form.text_field :life_stage %>
  </div>

  <div>
    <%= form.label :reproductive_condition, style: "display: block" %>
    <%= form.text_field :reproductive_condition %>
  </div>

  <div>
    <%= form.label :vitality, style: "display: block" %>
    <%= form.text_field :vitality %>
  </div>

  <div>
    <%= form.label :other_catalog_numbers, style: "display: block" %>
    <%= form.text_field :other_catalog_numbers %>
  </div>

  <div>
    <%= form.label :occurrence_remarks, style: "display: block" %>
    <%= form.textarea :occurrence_remarks %>
  </div>

  <div>
    <%= form.label :organism_remarks, style: "display: block" %>
    <%= form.textarea :organism_remarks %>
  </div>

  <div>
    <%= form.label :associated_sequences, style: "display: block" %>
    <%= form.text_field :associated_sequences %>
  </div>

  <div>
    <%= form.label :field_number, style: "display: block" %>
    <%= form.text_field :field_number %>
  </div>

  <div>
    <%= form.label :event_date_start, style: "display: block" %>
    <%= form.date_field :event_date_start %>
  </div>

  <div>
    <%= form.label :event_date_end, style: "display: block" %>
    <%= form.date_field :event_date_end %>
  </div>

  <div>
    <%= form.label :verbatim_event_date, style: "display: block" %>
    <%= form.text_field :verbatim_event_date %>
  </div>

  <div>
    <%= form.label :sampling_protocol, style: "display: block" %>
    <%= form.text_field :sampling_protocol %>
  </div>

  <div>
    <%= form.label :event_remarks, style: "display: block" %>
    <%= form.textarea :event_remarks %>
  </div>

  <div>
    <%= form.label :continent, style: "display: block" %>
    <%= form.text_field :continent %>
  </div>

  <div>
    <%= form.label :country, style: "display: block" %>
    <%= form.text_field :country %>
  </div>

  <div>
    <%= form.label :state_province, style: "display: block" %>
    <%= form.text_field :state_province %>
  </div>

  <div>
    <%= form.label :county, style: "display: block" %>
    <%= form.text_field :county %>
  </div>

  <div>
    <%= form.label :locality, style: "display: block" %>
    <%= form.text_field :locality %>
  </div>

  <div>
    <%= form.label :verbatim_locality, style: "display: block" %>
    <%= form.text_field :verbatim_locality %>
  </div>

  <div>
    <%= form.label :verbatim_elevation, style: "display: block" %>
    <%= form.text_field :verbatim_elevation %>
  </div>

  <div>
    <%= form.label :minimum_elevation_in_meters, style: "display: block" %>
    <%= form.text_field :minimum_elevation_in_meters %>
  </div>

  <div>
    <%= form.label :maximum_elevation_in_meters, style: "display: block" %>
    <%= form.text_field :maximum_elevation_in_meters %>
  </div>

  <div>
    <%= form.label :decimal_latitude, style: "display: block" %>
    <%= form.text_field :decimal_latitude %>
  </div>

  <div>
    <%= form.label :decimal_longitude, style: "display: block" %>
    <%= form.text_field :decimal_longitude %>
  </div>

  <div>
    <%= form.label :coordinate_uncertainty_in_meters, style: "display: block" %>
    <%= form.text_field :coordinate_uncertainty_in_meters %>
  </div>

  <div>
    <%= form.label :verbatim_coordinates, style: "display: block" %>
    <%= form.text_field :verbatim_coordinates %>
  </div>

  <div>
    <%= form.label :georeferenced_by, style: "display: block" %>
    <%= form.text_field :georeferenced_by %>
  </div>

  <div>
    <%= form.label :georeferenced_date, style: "display: block" %>
    <%= form.date_field :georeferenced_date %>
  </div>

  <div>
    <%= form.label :geodetic_datum, style: "display: block" %>
    <%= form.text_field :geodetic_datum %>
  </div>

  <div>
    <%= form.label :georeference_protocol, style: "display: block" %>
    <%= form.text_field :georeference_protocol %>
  </div>

  <div>
    <%= form.label :archived, style: "display: block" %>
    <%= form.checkbox :archived %>
  </div>

  <div>
    <%= form.label :collection_id, style: "display: block" %>
    <%= form.text_field :collection_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
