<div id="<%= dom_id item %>">
  <p>
    <strong>Occurrence:</strong>
    <%= item.occurrence_id %>
  </p>

  <p>
    <strong>Catalog number:</strong>
    <%= item.catalog_number %>
  </p>

  <p>
    <strong>Modified:</strong>
    <%= item.modified %>
  </p>

  <p>
    <strong>Recorded by:</strong>
    <%= item.recorded_by %>
  </p>

  <p>
    <strong>Individual count:</strong>
    <%= item.individual_count %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= item.sex %>
  </p>

  <p>
    <strong>Life stage:</strong>
    <%= item.life_stage %>
  </p>

  <p>
    <strong>Reproductive condition:</strong>
    <%= item.reproductive_condition %>
  </p>

  <p>
    <strong>Vitality:</strong>
    <%= item.vitality %>
  </p>

  <p>
    <strong>Other catalog numbers:</strong>
    <%= item.other_catalog_numbers %>
  </p>

  <p>
    <strong>Occurrence remarks:</strong>
    <%= item.occurrence_remarks %>
  </p>

  <p>
    <strong>Organism remarks:</strong>
    <%= item.organism_remarks %>
  </p>

  <p>
    <strong>Associated sequences:</strong>
    <%= item.associated_sequences %>
  </p>

  <p>
    <strong>Field number:</strong>
    <%= item.field_number %>
  </p>

  <p>
    <strong>Event date start:</strong>
    <%= item.event_date_start %>
  </p>

  <p>
    <strong>Event date end:</strong>
    <%= item.event_date_end %>
  </p>

  <p>
    <strong>Verbatim event date:</strong>
    <%= item.verbatim_event_date %>
  </p>

  <p>
    <strong>Sampling protocol:</strong>
    <%= item.sampling_protocol %>
  </p>

  <p>
    <strong>Event remarks:</strong>
    <%= item.event_remarks %>
  </p>

  <p>
    <strong>Continent:</strong>
    <%= item.continent %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= item.country %>
  </p>

  <p>
    <strong>State province:</strong>
    <%= item.state_province %>
  </p>

  <p>
    <strong>County:</strong>
    <%= item.county %>
  </p>

  <p>
    <strong>Locality:</strong>
    <%= item.locality %>
  </p>

  <p>
    <strong>Verbatim locality:</strong>
    <%= item.verbatim_locality %>
  </p>

  <p>
    <strong>Verbatim elevation:</strong>
    <%= item.verbatim_elevation %>
  </p>

  <p>
    <strong>Minimum elevation in meters:</strong>
    <%= item.minimum_elevation_in_meters %>
  </p>

  <p>
    <strong>Maximum elevation in meters:</strong>
    <%= item.maximum_elevation_in_meters %>
  </p>

  <p>
    <strong>Decimal latitude:</strong>
    <%= item.decimal_latitude %>
  </p>

  <p>
    <strong>Decimal longitude:</strong>
    <%= item.decimal_longitude %>
  </p>

  <p>
    <strong>Coordinate uncertainty in meters:</strong>
    <%= item.coordinate_uncertainty_in_meters %>
  </p>

  <p>
    <strong>Verbatim coordinates:</strong>
    <%= item.verbatim_coordinates %>
  </p>

  <p>
    <strong>Georeferenced by:</strong>
    <%= item.georeferenced_by %>
  </p>

  <p>
    <strong>Georeferenced date:</strong>
    <%= item.georeferenced_date %>
  </p>

  <p>
    <strong>Geodetic datum:</strong>
    <%= item.geodetic_datum %>
  </p>

  <p>
    <strong>Georeference protocol:</strong>
    <%= item.georeference_protocol %>
  </p>

  <p>
    <strong>Archived:</strong>
    <%= item.archived %>
  </p>

  <p>
    <strong>Collection:</strong>
    <%= item.collection_id %>
  </p>

</div>
