<div class="accordion-item mb-2">
  <button class="accordion-button collapsed bg-accordion" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#panelsStayOpen-collapse<%= (index + 1) %>" 
          aria-expanded="false" 
          aria-controls="panelsStayOpen-collapse<%= (index + 1) %>"
          style="--bs-focus-ring-color: #0d6efd !important;"
          onFocus="this.style.outline='2px solid #0d6efd'; this.style.outlineOffset='2px'; this.style.borderRadius='0.375rem';"
          onBlur="this.style.outline='none'; this.style.borderRadius='';">
    <%= item.collection.division %>: <%= item.display_name %>
  </button>
  <div id="panelsStayOpen-collapse<%= (index + 1) %>" class="accordion-collapse collapse">
    <div class="accordion-body">  
      <fieldset>
        <legend style="display: none;">Tabs to display item information</legend>

        <div>
          <%= link_to item_path(item, return_to: request.fullpath), class: "btn btn-primary my-2", data: { turbo_frame: "_top" } do %>
            Item Details Page 
          <% end %>
          <%= turbo_frame_tag "checkout_item_row_#{item.id}" do %>
            <%= render partial: "collections/preparation_for_checkout", locals: { item: item } %>
          <% end %>
          <table class="table text-center">
            <tbody class="table-group-divider">
              <% display_fields = {
                "Preparation Type" => item.preparations.pluck(:prep_type).join(", "),
                "Item Catalog Number" => item.catalog_number,
                "Date Modified" => item.modified,
                "Recorded By" => item.recorded_by,
                "Individual Count" => item.individual_count,
                "Sex" => item.sex,
                "Life Stage" => item.life_stage,
                "Reproductive Condition" => item.reproductive_condition,
                "Vitality" => item.vitality,
                "Occurrence Remarks" => item.occurrence_remarks,
                "Organism Remarks" => item.organism_remarks,
                "Event Date" => item.event_date_start,
                "Event Date End" => item.event_date_end,
                "Verbatim Event Date" => item.verbatim_event_date,
                "Event Remarks" => item.event_remarks,
                "Continent" => item.continent,
                "Country or Region" => item.country,
                "State / Province" => item.state_province,
                "County" => item.county,
                "Locality" => item.locality,
                "Verbatim Elevation" => item.verbatim_elevation,
                "Minimum Elevation in Meters" => item.minimum_elevation_in_meters,
                "Maximum Elevation in Meters" => item.maximum_elevation_in_meters,
                "Decimal Latitude" => item.decimal_latitude,
                "Decimal Longitude" => item.decimal_longitude,
                "Coordinate Uncertainty in Meters" => item.coordinate_uncertainty_in_meters,
                "Verbatim Coordinates" => item.verbatim_coordinates,
                "Georeferenced By" => item.georeferenced_by,
                "Georeference Protocol" => item.georeference_protocol
              } %>

              <% display_fields.each do |label, value| %>
                <% if value.present? %>
                  <tr class="rover_tbody_tr">
                    <td class="rover_tbody_td"><%= label %></td>
                    <td class="rover_tbody_td"><%= value %></td>
                  </tr>
                <% end %>
              <% end %>

            </tbody>
          </table>
        </div>
      </fieldset>
    </div>
  </div>
</div>
