<div id="<%= dom_id item %>">
  <% if item.catalog_number.present? %>
    <p>
      <strong>Catalog Number:</strong>
      <%= item.catalog_number %>
    </p>
  <% end %>
  <% if item.modified.present? %>
    <p>
      <strong>Modified:</strong>
      <%= item.modified %>
    </p>
  <% end %>
  <% if item.recorded_by.present? %>
    <p>
      <strong>Recorded By:</strong>
      <%= item.recorded_by %>
    </p>
  <% end %>
  <% if item.individual_count.present? %>
    <p>
      <strong>Individual Count:</strong>
      <%= item.individual_count %>
    </p>
  <% end %>
  <% if item.sex.present? %>
    <p>
      <strong>Sex:</strong>
      <%= item.sex %>
    </p>
  <% end %>
  <% if item.life_stage.present? %>
    <p>
      <strong>Life Stage:</strong>
      <%= item.life_stage %>
    </p>
  <% end %>
  <% if item.reproductive_condition.present? %>
    <p>
      <strong>Reproductive Condition:</strong>
      <%= item.reproductive_condition %>
    </p>
  <% end %>
  <% if item.vitality.present? %>
    <p>
      <strong>Vitality:</strong>
      <%= item.vitality %>
    </p>
  <% end %>
  <% if item.other_catalog_numbers.present? %>
    <p>
      <strong>Other Catalog Numbers:</strong>
      <%= item.other_catalog_numbers %>
    </p>
  <% end %>
  <% if item.occurrence_remarks.present? %>
    <p>
      <strong>Occurrence Remarks:</strong>
      <%= item.occurrence_remarks %>
    </p>
  <% end %>
  <% if item.organism_remarks.present? %>
    <p>
      <strong>Organism Remarks:</strong>
      <%= item.organism_remarks %>
    </p>
  <% end %>
  <% if item.associated_sequences.present? %>
    <p>
      <strong>Associated Sequences:</strong>
      <%= item.associated_sequences %>
    </p>
  <% end %>
  <% if item.field_number.present? %>
    <p>
      <strong>Field Number:</strong>
      <%= item.field_number %>
    </p>
  <% end %>
  <% if item.event_date_start.present? %>
    <p>
      <strong>Event Date Start:</strong>
      <%= item.event_date_start %>
    </p>
  <% end %>
  <% if item.event_date_end.present? %>
    <p>
      <strong>Event Date End:</strong>
      <%= item.event_date_end %>
    </p>
  <% end %>
  <% if item.verbatim_event_date.present? %>
    <p>
      <strong>Verbatim Event Date:</strong>
      <%= item.verbatim_event_date %>
    </p>
  <% end %>
  <% if item.sampling_protocol.present? %>
    <p>
      <strong>Sampling Protocol:</strong>
      <%= item.sampling_protocol %>
    </p>
  <% end %>
  <% if item.event_remarks.present? %>
    <p>
      <strong>Event Remarks:</strong>
      <%= item.event_remarks %>
    </p>
  <% end %>
  <% if item.continent.present? %>
    <p>
      <strong>Continent:</strong>
      <%= item.continent %>
    </p>
  <% end %>
  <% if item.country.present? %>
    <p>
      <strong>Country:</strong>
      <%= item.country %>
    </p>
  <% end %>
  <% if item.state_province.present? %>
    <p>
      <strong>State/Province:</strong>
      <%= item.state_province %>
    </p>
  <% end %>
  <% if item.county.present? %>
    <p>
      <strong>County:</strong>
      <%= item.county %>
    </p>
  <% end %>
  <% if item.locality.present? %>
    <p>
      <strong>Locality:</strong>
      <%= item.locality %>
    </p>
  <% end %>
  <% if item.verbatim_locality.present? %>
    <p>
      <strong>Verbatim Locality:</strong>
      <%= item.verbatim_locality %>
    </p>
  <% end %>
  <% if item.verbatim_elevation.present? %>
    <p>
      <strong>Verbatim Elevation:</strong>
      <%= item.verbatim_elevation %>
    </p>
  <% end %>
  <% if item.minimum_elevation_in_meters.present? %>
    <p>
      <strong>Minimum Elevation in Meters:</strong>
      <%= item.minimum_elevation_in_meters %>
    </p>
  <% end %>
  <% if item.maximum_elevation_in_meters.present? %>
    <p>
      <strong>Maximum Elevation in Meters:</strong>
      <%= item.maximum_elevation_in_meters %>
    </p>
  <% end %>
  <% if item.decimal_latitude.present? %>
    <p>
      <strong>Decimal Latitude:</strong>
      <%= item.decimal_latitude %>
    </p>
  <% end %>
  <% if item.decimal_longitude.present? %>
    <p>
      <strong>Decimal Longitude:</strong>
      <%= item.decimal_longitude %>
    </p>
  <% end %>
  <% if item.coordinate_uncertainty_in_meters.present? %>
    <p>
      <strong>Coordinate Uncertainty in Meters:</strong>
      <%= item.coordinate_uncertainty_in_meters %>
    </p>
  <% end %>
  <% if item.verbatim_coordinates.present? %>
    <p>
      <strong>Verbatim Coordinates:</strong>
      <%= item.verbatim_coordinates %>
    </p>
  <% end %>
  <% if item.georeferenced_by.present? %>
    <p>
      <strong>Georeferenced By:</strong>
      <%= item.georeferenced_by %>
    </p>
  <% end %>
  <% if item.georeferenced_date.present? %>
    <p>
      <strong>Georeferenced Date:</strong>
      <%= item.georeferenced_date %>
    </p>
  <% end %>
  <% if item.geodetic_datum.present? %>
    <p>
      <strong>Geodetic Datum:</strong>
      <%= item.geodetic_datum %>
    </p>
  <% end %>
  <% if item.georeference_protocol.present? %>
    <p>
      <strong>Georeference Protocol:</strong>
      <%= item.georeference_protocol %>
    </p>
  <% end %>

</div>
