<% @preparations.each do |preparation| %>

  <div id="<%= dom_id preparation %>">
    <p>
      <strong>Prep type:</strong>
      <%= preparation.prep_type %>
    </p>

    <p>
      <strong>Count:</strong>
      <%= preparation.count %>
    </p>

    <p>
      <strong>Barcode:</strong>
      <%= preparation.barcode %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= preparation.description %>
    </p>

    <p>
      <strong>Item:</strong>
      <%= preparation.item_id %>
    </p>

  </div>

    <p>
      <strong>Preparation type:</strong>
      <%= preparation.prep_type %>
    </p>

<% end %>
