
<div class="my-2">
  <%= page_entries_info @items %> from <%= @collections %>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <% @items.each do |item| %>
      <div class="col mb-5">
        <%= turbo_frame_tag "checkout_item_#{item.id}" do %>
          <%= render partial: "item_card", locals: { item: item } %>
        <% end %>
      </div>
    <% end %>
  </div>
<%= paginate @items %>

<%= render "layouts/remote_modal",
            id: "addItemToCheckoutModal",
            title: "Add Preparation to Checkout",
            show: false %>
