Dear <%= @user.first_name %>,

We've received your information request submitted on <%= @information_request.created_at.strftime("%B %d, %Y") %>
with the following question:

<%= raw(@message) %>
<% if @checkout_items.present? %>
 Checkout Items:
  <% @checkout_items.each do |item| %>
    <%= item %> <br>
  <% end %>
<% end %>

<% if @custom_email_message.present? %>
  <% @custom_email_message.each do |collection_name, message| %>
    <p><b><%= collection_name %>:</b>
      <br><%= message %>
    </p>
  <% end %>
<% end %>

Thank you for using our system. We'll reach out to you if we need more information.

The Collections Team
