<h2>Advanced Search</h2>
<%= search_form_for @q, url: search_items_path, method: :post do |f| %>
  <div class="m-2">

    <!-- Strings - use _i_cont (contains) or _eq (exact match) -->
    <div class="btn-group-toggle" data-toggle="buttons">
      <h5>Select Collections:</h5>
      <% @all_collections.each do |collection| %>
        <div class="form-check">
          <%= f.check_box :collection_id_in, { multiple: true, id: "collection_#{collection.id}" }, collection.id, nil %>
          <%= f.label :collection_id_in, collection.division, value: collection.id, class: "form-check-label" %>
        </div>
      <% end %>
    </div>

    <div class="mb-3">
      <h5>Country or Region</h5>
      <small>Select one or more countries or regions to narrow your results</small>
      <input type="text" class="form-control my-2" placeholder="Filter" onkeyup="filterCheckboxes('country-filters', this.value)">

      <div id="country-filters" style="max-height: 200px; overflow-y: auto; border: 1px solid #ccc; padding: 8px;">
        <% if @countries.blank? %>
          <p>No countries available to select from.</p>
        <%else%>
          <% @countries.each do |country| %>
            <div class="form-check">
              <%= check_box_tag "q[country_in][]", country, params.dig(:q, :country_in)&.include?(country), id: "country_#{country}" %>
              <%= label_tag "q_country_in_#{country.parameterize}", country.downcase.titleize %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="mb-3">
      <h5>State / Province</h5>
      <small>Select one or more states or provinces to narrow your results</small>
      <input type="text" class="form-control my-2" placeholder="Filter" onkeyup="filterCheckboxes('state-filters', this.value)">

      <div id="state-filters" style="max-height: 200px; overflow-y: auto; border: 1px solid #ccc; padding: 8px;">
        <% if @states.blank? %>
          <p>No states or provinces available to select from.</p>
        <%else%>
          <% @states.each do |state| %>
            <div class="form-check">
              <%= check_box_tag "q[state_province_in][]", state, params.dig(:q, :state_province_in)&.include?(state), id: "state_#{state}" %>
              <%= label_tag "q_state_province_in_#{state.parameterize}", state.downcase.titleize %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="mb-3">
      <h5>Continent</h5>
      <small>Select one or more continents to narrow your results</small>
      <input type="text" class="form-control my-2" placeholder="Filter" onkeyup="filterCheckboxes('continent-filters', this.value)">

      <div id="continent-filters" style="max-height: 200px; overflow-y: auto; border: 1px solid #ccc; padding: 8px;">
        <%if @continents.present?%>
          <% @continents.each do |continent| %>
            <div class="form-check">
              <%= check_box_tag "q[continent_in][]", continent, params.dig(:q, :continent_in)&.include?(continent), id: "continent_#{continent}" %>
              <%= label_tag "continent_#{continent.parameterize}", continent.downcase.titleize %>
            </div>
          <% end %>
        <% else %>
          <p>No continent available to select from.</p>
        <% end %>
      </div>
    </div>
    <div>
      <%= f.label :collection_division_i_cont, "Associated Sequences" %>
      <%= f.search_field :collection_division_i_cont, class: "form-control form-control-sm" %>
    </div>
    <div>
      <%= f.label :associated_sequences_i_cont, "Associated Sequences" %>
      <%= f.search_field :associated_sequences_i_cont, class: "form-control form-control-sm" %>
    </div>
    <div>
      <%= f.label :catalog_number_eq, "Catalog Number" %>
      <%= f.search_field :catalog_number_eq , placeholder: 'Country, State, Province, or Scientific Name or Vernacular Name', class: "form-control form-control-sm" %>
    </div>
    <div>
      <%= f.label :county_i_cont, "County" %>
      <%= f.search_field :county_i_cont, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :field_number_eq, "Field Number" %>
      <%= f.search_field :field_number_eq, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :geodetic_datum_i_cont, "Geodetic Datum" %>
      <%= f.search_field :geodetic_datum_i_cont, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :georeference_protocol_i_cont, "Georeference Protocol" %>
      <%= f.search_field :georeference_protocol_i_cont, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :georeferenced_by_i_cont, "Georeferenced By" %>
      <%= f.search_field :georeferenced_by_i_cont, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :life_stage_eq, "Life Stage" %>
      <%= f.search_field :life_stage_eq, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :locality_i_cont, "Locality" %>
      <%= f.search_field :locality_i_cont, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :occurrence_remarks_i_cont, "Occurrence Remarks" %>
      <%= f.search_field :occurrence_remarks_i_cont, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :organism_remarks_i_cont, "Organism Remarks" %>
      <%= f.search_field :organism_remarks_i_cont, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :other_catalog_numbers_eq, "Other Catalog Numbers" %>
      <%= f.search_field :other_catalog_numbers_eq, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :recorded_by_i_cont, "Recorded By" %>
      <%= f.search_field :recorded_by_i_cont, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :reproductive_condition_eq, "Reproductive Condition" %>
      <%= f.search_field :reproductive_condition_eq, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :sampling_protocol_i_cont, "Sampling Protocol" %>
      <%= f.search_field :sampling_protocol_i_cont, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :sex_eq, "Sex" %>
      <%= f.search_field :sex_eq, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :verbatim_coordinates_eq, "Verbatim Coordinates" %>
      <%= f.search_field :verbatim_coordinates_eq, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :verbatim_elevation_eq, "Verbatim Elevation" %>
      <%= f.search_field :verbatim_elevation_eq, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :verbatim_event_date_eq, "Verbatim Event Date" %>
      <%= f.search_field :verbatim_event_date_eq, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :verbatim_locality_i_cont, "Verbatim Locality" %>
      <%= f.search_field :verbatim_locality_i_cont, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :vitality_eq, "Vitality" %>
      <%= f.search_field :vitality_eq, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <!-- Dates - use _gteq / _lteq -->
      <%= f.label :event_date_start_gteq, "Event Date Start (After)" %>
      <%= f.date_field :event_date_start_gteq, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :event_date_end_lteq, "Event Date End (Before)" %>
      <%= f.date_field :event_date_end_lteq, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :georeferenced_date_eq, "Georeferenced Date" %>
      <%= f.date_field :georeferenced_date_eq, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :modified_eq, "Date Modified" %>
      <%= f.date_field :modified_eq, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <!-- Numbers - use _gteq / _lteq / _eq -->
      <%= f.label :coordinate_uncertainty_in_meters_lteq, "Max Coord. Uncertainty" %>
      <%= f.search_field :coordinate_uncertainty_in_meters_lteq, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :individual_count_gteq, "Minimum Individual Count" %>
      <%= f.search_field :individual_count_gteq, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :minimum_elevation_in_meters_gteq, "Min Elevation" %>
      <%= f.search_field :minimum_elevation_in_meters_gteq, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :maximum_elevation_in_meters_lteq, "Max Elevation" %>
      <%= f.search_field :maximum_elevation_in_meters_lteq, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :decimal_latitude_eq, "Latitude" %>
      <%= f.search_field :decimal_latitude_eq, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
    <div>
      <%= f.label :decimal_longitude_eq, "Longitude" %>
      <%= f.search_field :decimal_longitude_eq, placeholder: 'Continent Name', class: "form-control form-control-sm"  %>
    </div>
  </div>

  <div>
    <%= f.submit "Search", class: "btn btn-primary" %>
  </div>
<% end %>

<%# JavaScript part %>
<script>
  function filterCheckboxes(containerId, filterText) {
    const container = document.getElementById(containerId);
    const checkboxes = container.querySelectorAll(".form-check");

    const lowerFilter = filterText.toLowerCase();

    checkboxes.forEach((checkbox) => {
      const label = checkbox.textContent.toLowerCase();
      if (label.includes(lowerFilter)) {
        checkbox.style.display = "";
      } else {
        checkbox.style.display = "none";
      }
    });
  }
</script>

