<footer class="footer mt-auto py-3 bg-um-blue">
  <div class="d-flex flex-lg-row justify-content-between flex-column mx-5">
    <%= link_to 'https://lsa.umich.edu/', aria: { label: 'Visit LSA website' } do %>
      <%= image_tag 'en-logo.png', alt: 'LSA Logo with College Name', class: 'logo_image' %>
    <% end %>
    <div class="center text-center">
      <p class="text-center footer-text-bold">
        Museum of Zoology
      </p><!-- Left column content for small viewports -->
    </div>
    <div class="footer-text">
        <a href="https://campusinfo.umich.edu/campusmap" class="footer-text footer-link d-flex align-items-start">
          <i class="bi bi-geo-alt me-2"></i>
          <div>
            Research Museums Center (RMC)<br>
            3600 Varsity Drive<br>
            Ann Arbor, MI 48108
          </div>
        </a>
    </div>
    <div class="footer-text">
      <i class="bi bi-telephone"></i> 734.764.0476<br>
      <i class="bi bi-printer"></i> 734.998.0038
    </div>
    <div>
      <p class="text-center mb-0 small">
        <a id="myCustomTrigger" class="footer-text footer-link" href="#" data-email="<%= session[:user_email]%>">Report an Issue</a><br>
        <span class="footer-text">
          <i class="bi bi-telephone"></i> 734.615.0100
        </span>
      </p>
    </div>
    <div>
      <a class="footer-text footer-link" href="https://umich.edu/about/privacy/">Privacy Notice</a>
      <p class="d-none d-md-block footer-text">
        ©<%= Time.now.year %>
      </p>
      <p class="d-md-none mb-0 footer-text">
        ©<%= Time.now.year %>
      </p><!-- Right column content -->
    </div>
  </div>
  <script type="text/javascript" src="https://umlsait.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/vf1kch/b/0/c95134bc67d3a521bb3f4331beb9b804/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=df2cfcf7"></script>

  <%= javascript_include_tag 'feedback', async: true %>
</footer>
