<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BiorepositoryPortal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css", rel: "stylesheet" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <div class="bg-um-blue py-4">
      <div class="container">
        <div class="row g-4 align-items-stretch">
          
          <div class="col-12 col-md-4">
            <div class="bg-white p-4 rounded-3 shadow-lg h-100 mb-5 mt-4" style="max-width: 600px;">
              <%= render "layouts/search_bar" %>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <main class="container">
      <div id="flash">
        <%= render "layouts/flash" %>
      </div>
      <%#= render partial: "checkout/checkout" if @render_checkout %>
      <div>
        <%= yield %>
        <%= turbo_frame_tag "remote_modal", target: "_top" %>
      </div>
    </main>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
